<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MerulaShellUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MerulaShellUi.Properties.Settings>
            <setting name="UIColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="UIColorFore" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TaskbarAlwaysVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskbarHeight" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Glass" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="DesktopImage" serializeAs="String">
                <value>pack://application:,,,/MerulaShellUi;component/images/merulashell.png</value>
            </setting>
        </MerulaShellUi.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
